:root {
    --degrees: 0deg;
  }
  
  .bg-conic {
    position: relative;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background: conic-gradient(
      transparent 0deg,
      transparent var(--degrees),
      white var(--degrees),
      white 360deg
    );
  }

  .inner-circle {
    width: 238px;
    height: 238px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure it's above other elements transform: rotate(var(--degrees));*/
}
  
.hand {
    position: absolute;
    top: 0px;
    height: 8px;
    width: 8px;
    z-index: 10;
    display: flex;
    justify-content: center;
    transform-origin: 5px 120px;
  }

  .hand::before {
    content: '';
    position: absolute;
    top: -4px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: aqua;
    transform: translateX(-50%);
  }